.CardNews {
  background: linear-gradient(90deg, #efd5ff 0%, #8240ff 100%);
  margin: 2%;
  border-radius: 2%;
  box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
}
